* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-size: 170%;
  background-color: #efebe9;
  height: 100%;
}

header {
  font-size: 80%;
  padding: 1.4% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fca03d;
}

header a {
  color: #fff;
  text-decoration: none;
}

button {
  padding: 0.7rem 1.8rem;
  background-color: rgb(255, 255, 255);
}

header button:hover {
  background-color: #fca03d;
  color: #fff;
  border: 2px solid #fff;
}

.login-form,
.signUp-form {
  position: absolute;
  top: 12%;
  right: 5%;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 9999; /* make sure the form is on top of other elements */
  display: none; /* hide the form by default */
}

.login-form form,
.signUp-form form {
  background-color: #ffffff75;
  padding: 8% 10%;
  width: 100%;
}

.login-form input[type="text"],
#login-form input[type="password"],
.signUp-form input[type="text"],
#signUp-form input[type="password"],
#signUp-form input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.login-form input[type="submit"],
.signUp-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 2% 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-form input[type="submit"]:hover,
.signUp-form input[type="submit"]:hover {
  background-color: #45a049;
}

span {
  cursor: pointer;
}

.content-side {
  background-image: url("../images/wallpaper.jpg");
  background-position: center;
  height: 55dvh;
  width: 100%;
  color: #fff;
}

article {
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
}

article p {
  padding: 2%;
  width: 60%;
  margin: auto;
}

p b {
  font-size: 150%;
  margin: 2% 0;
}

article button:hover {
  background-color: #000000;
  color: #fff;
  border: 4px solid #fff;
  padding: 1.2% 3%;
  font-weight: 700;
}

nav {
  background-color: #fca03d;
  position: sticky;
  top: 0;
  font-size: 1rem;
  margin: 0.5% 0;
}

nav ul {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  background-color: #fca03d73;
  list-style: none;
  padding: 1% 3%;
  margin: 0.8% 0;
}

li a {
  text-decoration: none;
  color: #000;
}

ul li:hover {
  background-color: #fca03d;
}

section {
  width: 70%;
  margin: 5% auto;
}

h2 {
  margin: 2% auto;
}
/* dashboard css */

